.post-index-container {
  width: 935px;
  background-color: blue;
}

.post-index-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  flex-wrap: wrap;
}

.post-index-item {
  width: 309px;
  height: 309px;
  margin-top: 1px;
}

.post-index-item:hover {
  cursor: pointer;
  box-shadow: inset 10px 10px 5px black;
  opacity: 80%;
}

.create-post-modal-container {
  @media screen and (min-width: 830px) and (max-width: 1440px) {
    min-width: 460px;
  };
  @media screen and (min-width: 831px) {
    width: 40vw;
    max-width: 725px;
  };
  min-width: 350px;
  overflow-y: scroll;
  background-color: #262626;
  height: 75vh;
  border-radius: 10px;
}

.create-post-modal-header {
  font-size: 16px;
  color: white;
  font-weight: 600;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: default;
}

.create-post-modal-divider {
  height: 1px;
  width: 100%;
  background-color: #383838;
}

.create-post-modal-body-outer-container {
  @media screen and (max-height: 430px) {
    min-height: 285px;
  }
  height: 92%;
  border-radius: 10px;
}

.create-post-modal-body-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.create-post-modal-body {
  height: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-post-modal-message {
  color: white;
  font-size: 20px;
  margin-top: -5px;
  cursor: default;
}

.create-post-modal-button {
  width: 180px;
  height: 32px;
  color: white;
  background-color: #0095F6;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-modal-button:hover {
  cursor: pointer;
  background-color: #1677F2;
};

// -------------------------------------------

.create-post-modal-share-container {
  @media screen and (min-width: 830px) and (max-width: 1440px) {
    width: 800px;
  };
  @media screen and (max-height: 680px) {
    height: 505px;
  }
  background-color: red;
  width: 70vw;
};

.create-post-modal-image-preview-container {
  width: 100px;
};




input[type="file"] {
  display: none;
};