// ProfilePostIndex
.post-index-container {
  width: 935px;
}

.post-index-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  flex-wrap: wrap;
}

.post-index-item {
  width: 309px;
  height: 309px;
  margin-top: 1px;
}

.post-index-item:hover {
  cursor: pointer;
  box-shadow: inset 10px 10px 5px black;
  opacity: 80%;
}

.create-post-modal-container {
  @media screen and (min-width: 830px) and (max-width: 1440px) {
    min-width: 460px;
  };
  @media screen and (min-width: 831px) {
    width: 40vw;
    max-width: 635px;
  };
  min-width: 350px;
  width: 67vh;
  overflow-y: scroll;
  background-color: #262626;
  height: 75vh;
  border-radius: 10px;
}

.create-post-modal-header {
  font-size: 16px;
  color: white;
  font-weight: 600;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: default;
}

.create-post-modal-divider {
  height: 1px;
  width: 100%;
  background-color: #303030;
}

.create-post-modal-body-outer-container {
  @media screen and (max-height: 430px) {
    min-height: 285px;
  }
  height: 92%;
  border-radius: 10px;
}

.create-post-modal-body-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.create-post-modal-body {
  height: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-post-modal-message {
  color: white;
  font-size: 20px;
  margin-top: -5px;
  cursor: default;
}

.create-post-modal-button {
  width: 180px;
  height: 32px;
  color: white;
  background-color: #0095F6;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-modal-button:hover {
  cursor: pointer;
  background-color: #1677F2;
};

// -------------------------------------------
// CreatePostModal

.create-post-modal-share-container {
  @media screen and (min-width: 831px) and (max-width: 1440px) {
    width: 800px;
    height: 505px;
  };
  @media screen and (max-width: 830px) {
    width: 96vw;
  }
  background-color: #262626;
  min-width: 685px;
  max-height: 770px;
  min-height: 390px;
  border-radius: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
};

.create-post-modal-share-button {
  color: #0095F6;
  position: absolute;
  right: 15px;
  font-size: 14px;
  font-weight: 100px;
}

.create-post-modal-share-button:hover {
  color: white;
  cursor: pointer;
}

.create-post-modal-body-container {
  display: flex;
}

.create-post-modal-image-preview-container {
  height: 68vh;
  width: 464px;
  height: 464px;
  min-width: 367px;
  min-height: 367px;
  max-width: 635px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
@media screen and (max-width: 830px) {
    width: 56vw;
    height: 55vw;
  };
};

.create-post-modal-image-preview {
  background-color: #8b8b8b;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0 0 0 12px;
};

.create-post-modal-image-preview-add-photos-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #202F48;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post-modal-image-preview-add-photos-icon-container:hover {
  cursor: pointer;
  background-color: #234A75;
}

.create-post-modal-image-preview-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 50%;
  border-radius: 50%;
  bottom: 0;
  top: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.create-post-modal-image-preview-icon:hover {
  cursor: pointer;
  opacity: 30%;
}

#previous-icon {
  left: 10px;
}

#next-icon {
  right: 10px;
}

.create-post-modal-image-preview-info-outer-container {
  width: 339px;
  display: flex;
  justify-content: center;
  height: auto;
}

.create-post-modal-image-preview-info-inner-container {
  width: 90%;
}

.create-post-modal-image-preview-info-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.create-post-modal-image-preview-info-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 12px;
}

.create-post-modal-image-preview-info-handle {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.create-post-modal-image-preview-info-input-container {
  height: 190px;
  width: 100%;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
}

.create-post-modal-image-preview-info-textarea {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  resize: none;
  border: none;
}

.create-post-modal-image-preview-info-caption-length {
  height: 44px;
  font-size: 12px;
  color: #737373;
  display: flex;
  justify-content: flex-end;
  right: 0;
  align-items: center;
}

.create-post-modal-image-preview-info-textarea::placeholder {
  font-size: 15px;
  color: #666666;
  font-family: 'Figtree', sans-serif;
}

.create-post-modal-image-preview-info-textarea:focus {
  outline: none;
}

.create-post-modal-image-preview-info-location-container {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;;
}

#create-post-modal-image-preview-info-input {
  height: 48px;
}

#create-post-modal-image-preview-info-input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #8D8D8D;
}

.create-post-modal-image-preview-info-location-icon {
  padding-left: 20px;
  border: none;
}

.create-post-modal-image-preview-info-location-cancel {
  cursor: pointer;
}

// -------------------------------------------
// PostShow

.post-show-modal-container {
  @media screen and (min-width: 731px)  {
    height: 54.5vw;
    background-color: purple;
  };
  @media screen and (max-width: 730px) {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 515px;
  }
  width: 87.4vw;
  min-height: 350px;
  max-height: 90vh;
  background-color: #000000;
  border: 1px solid rgb(33, 33, 33);
  display: flex;
  border-radius: 10px;
}

.post-show-modal-left-side {
  @media screen and (min-width: 1169px) {
    width: 56%;
    // height: 640px;
    // height: 60vh;
  };
  width: 56.3%;
  position: relative;
  display: flex;
  align-items: center;
};

.post-show-modal-image {
  width: 100%;
  height: 100%;
  min-height: 350px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-show-modal-image-icon {
  position: absolute;
  right: 12px;
  opacity: 30%;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}

#post-show-modal-next-icon {
  right: 12px;
}

#post-show-modal-previous-icon {
  left: 12px;
}

.post-show-modal-right-side {
  @media screen and (min-width: 1300px) {
    min-width: 500px;
    width: 44%;
    // height: 640px;
  };
  height: 80%;
  background-color: red;
  width: 43.7%;
  display: flex;
  flex-direction: column
};

.post-show-modal-right-side-header-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-show-modal-right-side-header {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.post-show-modal-right-side-avatar {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}

.post-show-modal-handle-location-container {
  display: flex;
  flex-direction: column;
}

.post-show-modal-handle {
  color: #F5F5F5;
  font-size: 14px;
  font-weight: 600;
}

.post-show-modal-location {
  color: #F5F5F5;
  font-size: 12px;
  margin-top: 5px;
}

.post-show-modal-more-icon {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.post-show-modal-more-icon:hover {
    color: #8E8E8E;
}

.post-show-modal-comments-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // background-color: green;
}

.post-show-modal-comments {
  // @media screen and (max-width: 1319px) {
  //   height: 42vw;
  //   background-color: orange;
  // }
  // height: 70vh;
  // min-height: 220px;
  width: 95%;
  background-color: orange;
}

input[type="file"] {
  display: none;
}
