.profile-background {
  background-color: #000000;
  min-height: 100vh;
  color: white;
  margin-left: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 935px;
  min-height: 100vh;
  background-color: rgb(182, 182, 182);
}

.profile-header {
  background-color: rgb(68, 68, 68);
  width: 935px;
  height: 410px;
}